

.header {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Arial", sans-serif; /* Cambiar por la fuente deseada */
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}






.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Arial", sans-serif; /* Cambiar por la fuente deseada */
}


